<div class="row">
  <div class="col-xs-12">
    <h1>Listing Users</h1>
  </div>
</div>
<br>

<div class="row">
  <%= form_tag users_path, :method => 'get' do %>
    <div class="col-lg-3 col-xs-6">
      <p>Language : <%= select_tag :language, options_for_select(@languages, @language.capitalize) %>
    </div>
    <div class="col-lg-3 col-xs-6">
    <p>City :
          <%= text_field_tag :country, @city.capitalize %>
          <%= submit_tag "Search", :name => nil %></p>
    </div>
  <% end %>
</div>
<br>

<div class="row">
  <div class="col-xs-12">
    <table class="table users">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>City Rank</th>
          <th>Number of Repos</th>
          <th>Stars</th>
        </tr>
      </thead>

      <tbody>
        <% @language_ranks.each do |language_rank| %>
          <tr>
            <td><%= link_to(image_tag(language_rank.user.gravatar_url, :class => "thumbnail avatar"), user_path(language_rank.user)) %></td>
            <td class="username"><%= link_to(language_rank.user.login, user_path(language_rank.user.login))%></td>
            <td><%= language_rank.city_rank %></td>
            <td><%= language_rank.repository_count %></td>
            <td><%= language_rank.stars_count %> <i class="fa fa-star star"></i></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= paginate @language_ranks %>
  </div>
</div>
