<div class="row">
  <div class="col-md-3">
    <%= image_tag @user.gravatar_url, :class => "thumbnail avatar-bg"%>
    <h2><span class="mega-octicon octicon-mark-github"></span> <strong><%= link_to @user.login, "https://github.com/#{@user.login}" %></strong></h2>
    <p class="subtitle"><%= @user.city.try(:capitalize) %></p>
    <p class="subtitle"><%= @user.country.try(:capitalize) %></p>
  </div>
  <div class="col-md-9">
    <% if @language_ranks.empty? %>
      <p><strong>That's embarrassing...</strong></p>
      <p><strong>It seems you don't have any repository on Github (Or Github couldn't guess the language for any for your repos) </strong></p>
    <% end %>
    
    <% @language_ranks.each do |language| %>
      <% presenter = LanguageRankPresenter.new(language) %>
      <div class="row">
        <div class="col-md-3">
          <p class="subtitle"><%= language.language.capitalize%> ranking</p>
        </div>
        <div class="col-md-9 pull-left">
          <% if @user.city && @user.country%>
            <p><%= @user.city %> : <%= presenter.city_rank.html_safe %> <i class="fa fa-trophy"></i></p>
            <p><%= @user.country %> : <%= presenter.country_rank.html_safe %> <i class="fa fa-trophy"></i></p>
          <% else %>
            <p> We couldn't find your city or country from your location on github :( </p>
          <% end %>
          <p>Worldwilde : <%= presenter.world_rank.html_safe %> <i class="fa fa-trophy"></i></p>
          <p>Repos : <%= language.repository_count %> <span class="octicon octicon-repo"></span></p>
          <p>Stars : <%= language.stars_count %> <span class="octicon octicon-star"></span></p>
        </div>
      </div>
      <hr/>
    <% end %>
  </div>
</div>